*{margin: 0;padding:0}
body{font: 16px/20px 'Arial';color: #fff;background-image: url(../img/bodyBack2.jpg); background-repeat: no-repeat;background-size: cover;}

#form{display: block;width: 365px;margin: 60px 60% 0;border-radius: 5%; padding: 10px;background-image: url(../img/HamBack.jpg);background-size: cover; background-repeat: no-repeat;box-shadow: 10px 10px rgba(62, 2, 56, 0.5);border-right: 2px solid rgb(181, 82, 181);border-bottom: 2px solid rgb(181, 82, 181);}

p{margin-bottom: 8px;}

legend{font-size: 20px;display: block;margin: 0 52px; padding: 5px;font-weight: bold;text-transform: uppercase;}

.radio-variant{display: inline-block;width: 49%;}

.row{border: 1px solid gray;border-radius: 10px; padding: 15px;margin: 15px;background-color: rgb(0, 0, 0, 0.8);}

.submit{padding: 20px 80px;}
.button{height: 40px;font-weight: bold; background-color: #fff200; border-radius: 10px;box-shadow: 3px 4px rgba(0, 0, 0, 0.7);}
.button:hover{background-color: #26ff00; border-radius: 10px;}

input[type=submit]{padding: 4px 15px 6px;}

#message{height:28px}

label{cursor:pointer;}

.radio, .checkbox{position: absolute;width: 0;height: 0;top: 0;left: 0;opacity: 0;}


.check-label, .radio-label{display: block;padding: 0 0 0 40px;position: relative;}

.radio-label{padding-left: 50px;}

.radio-label::before{position: absolute;top: 3px;left: 6px;width: 30px;height: 17px;border-radius: 25px;border: 1px solid rgb(157, 151, 151);background-color: #ed0d0d;content: "";margin-right: 5px;margin-bottom: 20px;transition: background-color 0.2s linear;line-height: 2;}

.radio:checked + .radio-label::before{background-color: #00ff3c;
}
.radio-label::after{position: absolute;top: 6px;left: 8px;width: 13px;height: 13px;border-radius: 30px;background-color: #211a1a;display: block;content: "";margin-right: 5px;transition: margin 0.3s linear, background-color 0.2s linear;}

.radio:checked + .radio-label::after{position: absolute;top: 6px;left: 23px;}

.radio-label:checked{background-color: #00ff3c;}

.check-label::before{content: '';position: absolute;top: 3px;left: 6px;width: 10px;height: 10px;border: 2px solid rgb(118, 116, 116);border-radius: 50%;}

.check-label::after{content: '';position: absolute;top: 2px;left: 8px;width: 12px;height: 5px;border-bottom: 2px solid #00ff3c;border-left: 2px solid #00ff3c;transform: rotate(-45deg);display: none;}

.checkbox:checked + .check-label::after{display: block;}

.field{border: 2px solid gray;border-radius: 10px;}

.check{min-width: 300px;padding: 10px; background-color: rgb(0, 0, 0, 0.9);border: 2px dotted #d1ca43;margin:0 auto 20px;}
